.products-heading {
  width: 15vw;
  font: 700 1.5vmax "Roboto";
  text-align: center;
  margin: 2vmax auto;
  padding: 2vmax;
  border-bottom: 1px solid gray;
}

.no-products {
  font: 400 2vmax cursive;
  color: gray;
  text-align: center;
  margin: 10vmax auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5vmax 5vmax;
  padding-left: 12vmax;
}

.pagination-box {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* These are inbuilt classes of 'react-js-pagination' component  */
.page-item {
  list-style: none;
  border: 1px solid gray;
  padding: 1vmax 1.5vmax;
  transition: all 0.5s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  font: 300 1vmax "Roboto";
  color: gray;
  text-decoration: none;
  transition: all 0.3s;
}
.page-item:hover:not(.page-item-active) {
  background-color: rgb(200, 200, 200);
}

.page-item-active {
  background-color: tomato;
}
.page-link-active {
  color: white;
}

.filter-box {
  width: 10vmax;
  max-width: 95%;
  position: absolute;
  top: 10vmax;
  left: 2vmax;
}

.category-box {
  padding: 0;
  margin-bottom: 2vmax;
}

.category-item {
  list-style: none;
  color: gray;
  font: 400 1vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-item:hover {
  color: tomato;
}

.filter-box > fieldset {
  border: 1px solid gray;
  padding: 0 1vmax;
}

@media screen and (max-width: 600px) {
  .products-heading {
    width: 30vw;
    font: 700 2.5vmax "Roboto";
  }
  .products {
    padding: 0.5vmax 3vmax;
  }
  .filter-box {
    width: 80vw;
    position: static;
    margin: auto;
  }
  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-item {
    font-size: 1.5vmax;
  }
}
