.products-heading {
  width: 15vw;
  font: 700 1.5vmax "Roboto";
  text-align: center;
  margin: 2vmax auto;
  padding: 2vmax;
  border-bottom: 1px solid gray;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5vmax;
}

.pagination-box {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* These are inbuilt classes of 'react-js-pagination' component  */
.page-item {
  list-style: none;
  border: 1px solid gray;
  padding: 1vmax 1.5vmax;
  transition: all 0.5s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  font: 300 1vmax "Roboto";
  color: gray;
  text-decoration: none;
  transition: all 0.3s;
}
.page-item:hover:not(.page-item-active) {
  background-color: rgb(200, 200, 200);
}

.page-item-active {
  background-color: tomato;
}
.page-link-active {
  color: white;
}
