footer {
  font-family: "Roboto";
  color: white;
  margin-top: 10vmax;
  padding: 2vmax;
  display: flex;
  align-items: center;
  background-color: rgb(43, 39, 39);
}

.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftFooter > p {
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > div > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;
  text-align: center;
}
.midFooter > h1 {
  font-size: 4vmax;
  color: #eb4034;
}
.midFooter > p {
  max-width: 60%;
  margin: 1vmax auto;
}
.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooter > .follow-links > a {
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
  margin: 0.5vmax;
  transition: all 0.5s;
}
.rightFooter > .follow-links > a:hover {
  color: #eb4034;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
    padding: 0;
    padding-bottom: 1vmax;
  }
  .leftFooter {
    order: 2;
    width: 100%;
  }
  .midFooter {
    order: 1;
    width: 100%;
  }
  .midFooter > p {
    max-width: 100%;
  }
  .rightFooter {
    order: 3;
    width: 100%;
  }
}
